<div class="container">
    <div class="navbar">
        <div class="logo">
            <h1>_Chat_app</h1>
        </div>
        <div class="menuLink">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </div>
    <div class="grid">
        <div class="left">
            <h1>Realtime chat app with message  </h1>
            <h1 id="blue">incryption</h1>
            <h1 id="blue">twitter clone</h1>
            <h4>Create custom room </h4>
            <h4>Private chat</h4>
            <div class="btn">
                <button><a href="/login">Login</a></button>
            </div>
        </div>
        <div class="right">
            <img src="img/chatappui.png" alt="chatappui" height="600px">
        </div>
    </div>

</div>